---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import Section from "../components/Section.astro";
const assets = await getCollection('assets');
const galleryDict = {};
assets.forEach(item => {
    const galleryName = item.id.split('/')[1];

    if (!galleryDict[galleryName]) {
        galleryDict[galleryName] = [];
    }

    galleryDict[galleryName].push(item.data.url);
});

const sections = Object.entries(galleryDict).map(([name, assets]) => ({
    name,
    assets
})).sort((a, b) => {
    const [dayA, monthA, yearA] = a.name.split('-')[0].trim().split('.').map(part => part.trim());
    const [dayB, monthB, yearB] = b.name.split('-')[0].trim().split('.').map(part => part.trim());
    return new Date(`${yearB}-${monthB}-${dayB}`).getTime() - new Date(`${yearA}-${monthA}-${dayA}`).getTime();
});

---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<Layout title="SOP8 - Galerie">
    <Section title="Galerie">
        {sections.map(({ name, assets }: {name: string, assets: string[]}) => (
            <div class="section">
                <h2 class="sectionTitle">{ name }</h2>
                <div class="gallery">
                    {assets.map((asset) => (
                        <a class="glightbox" href={asset} data-title={name}>
                            <Image class="img" src={asset} alt={asset} width="240" height="200" loading="lazy"
                                   decoding="async"   />
                        </a>
                    ))}
                </div>
                <div class="showMore">Zobrazit více</div>
            </div>
        ))}
    </Section>
</Layout>
<style>
    .section {
        + .section {
            margin-top: 60px;
        }
    }

    .sectionTitle {
        margin-bottom: 20px;
    }

    .gallery {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 4px;
        width: 100%;
        overflow: hidden;
        max-height: 200px; /* Default height for 1 row */
        transition: max-height 0.5s linear;
    }

    .gallery.expanded {
        max-height: none; /* Allow full height when expanded */
    }

    .glightbox {
        display: block;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.3s linear;

        &:hover {
            transform: scale(1.05);
        }
    }

    .showMore {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-color);
        font-size: 18px;
        text-align: center;
        opacity: 1;
        transition: opacity 0.25s linear;
        cursor: pointer;

        &:hover {
            opacity: .6;
        }
    }

</style>
<script type="module">
    import 'https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js';

    GLightbox({
        zoomable: false,
    });

    document.querySelectorAll('.section').forEach(section => {
        const gallery = section.querySelector('.gallery');
        const items = gallery.querySelectorAll('.glightbox');
        const showMoreButton = section.querySelector('.showMore');

        if (items.length > 5) {
            items.forEach((item, index) => {
                if (index >= 5) {
                    item.style.display = 'none';
                }
            });

            showMoreButton.style.display = 'flex';

            showMoreButton.addEventListener('click', function () {
                const isExpanded = gallery.classList.toggle('expanded');

                if (isExpanded) {
                    items.forEach(item => (item.style.display = 'block'));
                    gallery.style.maxHeight = `${gallery.scrollHeight}px`;
                    showMoreButton.textContent = 'Zobrazit méně';
                } else {
                    items.forEach((item, index) => {
                        if (index >= 5) {
                            item.style.display = 'none';
                        }
                    });
                    gallery.style.maxHeight = '200px';
                    showMoreButton.textContent = 'Zobrazit více';
                }
            });
        } else {
            showMoreButton.style.display = 'none';
        }
    });
</script>