---
import dayjs from "dayjs";
const { concert, isFuture } = Astro.props;
const {
    address,
    agenda,
    conductor,
    date,
    description,
    invitation,
    price,
    solists,
    time,
} = concert;
---

<div class=`concert  ${isFuture ? 'future' : ''}`>
    <div class="agenda">
        {
            agenda.map(({ composition, composer }) => {
                return (
                    <div class="agendaItem">
                        <div class="composer">{composer}</div>
                        <div class="composition">{composition}</div>
                    </div>
                );
            })
        }
    </div>
    <div class="date">
        <strong>Datum: </strong>{dayjs(date).format("D. M. YYYY")}
    </div>
    {
        isFuture && (
            <div class="time">
                <strong>Čas: </strong>
                {time}
            </div>
        )
    }
    <div class="place"><strong>Adresa: </strong>{address}</div>
    {
        isFuture && (
            <div>
                <strong>Dirigent: </strong>
                {conductor}
            </div>
        )
    }
    {
        isFuture && solists && (
            <div>
                <strong>Sólisté: </strong>
                {solists}
            </div>
        )
    }
    {
        isFuture && (
            <div>
                <strong>Cena: </strong>
                {price} Kč
            </div>
        )
    }
    {description && <div class="program">{description}</div>}
    {
        invitation && (
            <a href={invitation} target="_blank">
                Pozvánka
            </a>
        )
    }
</div>
<style>
    .concert {
        margin: 0 auto;
        max-width: 800px;
        border-left: 2px solid var(--main-color);
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background: #f2f2f2;

        * {
            font-size: 16px;
        }

        + .concert {
            margin-top: 20px;
        }

        &.future {
            background: #fff;
        }

        > div {
            margin-top: 5px;
        }
    }

    .agenda {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 20px;
        margin-bottom: 20px;
    }

    .date,
    .time {
        display: inline-block;
    }

    .time {
        margin-left: 10px;
    }

    .agendaItem {
        margin-top: 0 !important;
    }

    .composer {
        font-size: 20px;
        font-weight: 600;
    }

    .composition {
        font-size: 16px;
        font-weight: 600;
    }

    @media (max-width: 768px) {
        .agenda {
            grid-template-columns: 1fr;
        }
    }
</style>
